@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{Layout = "Layout.cshtml";}
    <meta name="viewport" content="width=device-width" />
    <title>Top10</title>
</head>
<body>
    <div>
        
        <h1>De top 10 bästa spelarna just nu</h1>
        @RenderBody()
    
    </div>
</body>
</html>
