@{
    //Author: Ludwig Fingal and Adam Andersson
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Quest of The Northpole</title>
    <script src="~/Scripts/phaser.min.js"></script>
    <script src="~/Scripts/src/boot.js"></script>
    <script src="~/Scripts/src/preload.js"></script>
    <script src="~/Scripts/src/gametitle.js"></script>
    <script src="~/Scripts/src/thegame.js"></script>
    <script src="~/Scripts/src/gameover.js"></script>
    <script src="~/Scripts/src/gamewon.js"></script>
    <style>
        body {
            margin: 0;
            background-color: blue;
        }
    </style>
    <script>
        (function () {
            var game = new Phaser.Game(800, 600, Phaser.auto, "game");

            game.state.add("Boot", boot);
            game.state.add("Preload", preload);
            game.state.add("GameTitle", gameTitle);
            game.state.add("TheGame", theGame);
            game.state.add("GameOver", gameOver);
            game.state.add("Win", win);
            game.state.start("Boot");
        })();

    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
