@{
    //Author: Ludwig Fingal and Angelica Shirazi
}
@{
    ViewBag.Title = "Highscore";
}

<div id="box">

    <h2>Highscore</h2>
    <p>Skapa en inloggningsprofil för att kunna hålla koll på dina Highscore och tävla mot dina vänner.</p>
    <div id="highscore">
    </div>
    
</div>

