
@{
    ViewBag.Title = "Highscore";
}

<div id="box">

    <h2>Highscore</h2>
    <p>Skapa en inloggningsprofil för att kunna hålla koll på dina Highscore och tävla mot dina vänner.</p>

    <div id="Skapa">
        <h3>Skapa en ny profil</h3>
        <p>Välj Användarnamn: </p> <input id="Namn" type="text" />
        <p>Välj Lösenord: </p><input id="Lösen" type="text" />
        <p>Skriv lösenordet igen: </p><input id="Bekräfta" type="text" /p>

        <p>
            Välj Stad: <select id="Select1"></select> 
                <option>Malmö</option>
                <option>Stockholm</option>
                <option>Lund</option>
                <option>Uppsala</option>
                <option>Umeå</option>
                <option>Göteborg</option>
        </p>

        <p><input id="Skapakonto" type="submit" value="Skapa nytt konto" /> </p>
    </div>
    <div id="Login">
        <h3>Logga in:</h3>
        <p>Användarnamn</p>
        <input id="Username" type="text" />
        <p>Lösenord:</p>
        <input id="Password1" type="password" />
        <p><input id="Submit1" type="submit" value="Logga in" /></p>
    </div>


    </select>

</div>

