<div id="phaser-game">
    @Scripts.Render("~/Scripts/game1.js")
</div>

<sitemap>
    <sitemapnode title="Home" url="/aspnet/w3home.aspx">
        <sitemapnode title="Services" url="/aspnet/w3services.aspx">
            <sitemapnode title="Training" url="/aspnet/w3training.aspx" />
            <sitemapnode title="Support" url="/aspnet/w3support.aspx" />
        </sitemapnode>
    </sitemapnode>
</sitemap>