
@{
    ViewBag.Title = "Local";
}

<div id="box">

    <table border="1" style="width:100%">

        <h2>Top 2 i din stad</h2>
        <tr>
            <th>Rankning</th>
            <th>Användarnamn</th>
            <th>Stad</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Eve.J</td>
            <td>Stockholm</td>
            <td>23</td>
            <td>94</td>
        </tr>

        <tr>
            <td>2.</td>
            <td>Klasd</td>
            <td>Stockholm</td>
            <td>23</td>
            <td>93</td>
        </tr>

        <tr>
            <th>Rankning</th>
            <th>Användarnamn</th>
            <th>Stad</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Eve.J</td>
            <td>Göteborg</td>
            <td>23</td>
            <td>94</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Klasd</td>
            <td>Göteborg</td>
            <td>23</td>
            <td>93</td>
        </tr>

        <tr>
            <th>Rankning</th>
            <th>Användarnamn</th>
            <th>Stad</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Eve.J</td>
            <td>Malmö</td>
            <td>23</td>
            <td>94</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Klasd</td>
            <td>Malmö</td>
            <td>23</td>
            <td>93</td>

        <tr>
            <th>Rankning</th>
            <th>Användarnamn</th>
            <th>Stad</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Eve.J</td>
            <td>Lund</td>
            <td>23</td>
            <td>94</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Klasd</td>
            <td>Lund</td>
            <td>23</td>
            <td>93</td>
</div>

